{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">
      <h2>{{ _('My profile') }}</h2>

      <div class="item">
        <p class="mylead">
          <strong>{{ _('Name') }}:</strong> {{ user.name if user.name else '' }}
        </p>
        <p class="mylead">
          <strong>{{ _('Last name') }}:</strong> {{ user.surname if user.surname else '' }}
        </p>
        <p class="mylead">
          <strong>{{ _('Username') }}:</strong> {{ user.username if user.username else '' }}
        </p>
        <p class="mylead">
          <strong>{{ _('E-mail') }}:</strong> {{ user.email if user.email else '' }}
        </p>
        <ul class="nav nav-pills">
          <li>
            <a href="{{ url_for('user.update') }}">{{ _('Change') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
