{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">

      {% from "forms/macros.html" import with_errors %}
      {% from "forms/macros.html" import flash_messages %}

      {{ with_errors(form.name) }}
      {{ with_errors(form.lname) }}
      {{ with_errors(form.username) }}
      {{ with_errors(form.email) }}
      {{ with_errors(form.passwd) }}
      {{ with_errors(form.passwdrepeat) }}
      {{ flash_messages(get_flashed_messages(with_categories=True)) }}


      <h2>{{ _('My profile') }}</h2>

      <form method="POST" action="" class="form-horizontal form-signin">
        {{ form.csrf_token }}

        {{ form.name(class="input-block-level", placeholder=_("Name"),
                     value=user.name if user.name else '') }}
        {{ form.lname(class="input-block-level", placeholder=_("Last Name"),
                      value=user.surname if user.surname else '') }}
        {{ form.username(class="input-block-level", placeholder=_("Username"),
                         value=user.username if user.username else '') }}
        {{ form.email(class="input-block-level", placeholder=_("E-mail"),
                      value=user.email if user.email else '') }}
        {{ form.passwd(class="input-block-level", placeholder=_("Password")) }}
        {{ form.passwdrepeat(class="input-block-level", placeholder=_("Repeat password")) }}
       <button id="cancel-btn" class="btn btn-large" type="button"
               data-href="{{ url_for('user.home') }}">
          {{ _('Cancel') }}
        </button>
        <button type="submit" class="btn btn-large">
          {{ _('Ok') }}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script>
$(document).ready(function(){
  $('#name').focus();

  $('#cancel-btn').on('click', function(){
    document.location.href = $(this).data('href');
  });
});
</script>
{% endblock %}