{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script>
$(document).ready(function(){
  $('#username').focus();
});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">

      {% from "forms/macros.html" import with_errors %}
      {% from "forms/macros.html" import flash_messages %}

      {{ with_errors(form.username) }}
      {{ with_errors(form.passwd) }}
      {{ flash_messages(get_flashed_messages(with_categories=True)) }}

      <form method="POST" action="" class="form-horizontal form-signin">
        {{ form.csrf_token }}
        <h2>{{ _('Please, sign in') }}</h2>
        {{ form.username(class="input-block-level", placeholder=_("Username or e-mail")) }}
        {{ form.passwd(class="input-block-level", placeholder=_("Password")) }}
        <button type="submit" value="Login" class="btn btn-large">{{ _('Sign in') }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
