{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% macro with_errors(field) %}
{% if field.errors %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {% for error in field.errors %}
    {{ error|e }}
  {% endfor %}
</div>
{% endif %}
{% endmacro %}


{% macro flash_messages(messages) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endmacro %}


{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro modal(id, title, subtitle, message, buttons) %}
  <div id="{{ id }}" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>{{ title }}</h3>
    </div>
    <div class="modal-body">
      <h4>{{ subtitle }}</h4>
      <p>{{ message }}</p>
    </div>
    <div class="modal-footer">
      {% for btn in buttons %}
      <a href="{{ btn['href'] }}" class="{{ btn['class'] }}" {% if btn['data-dismiss'] %} data-dismiss="{{ btn['data-dismiss'] }}" {% endif %}>{{ btn['label'] }}</a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}