{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% block breadcrumbs %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
        {% if 'change' in info %}
        <li><a href="{{ url_for('book', book_id=g.idbook) }}">{{ _('Book') }}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ title }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>{{ title }}</h2>

      {% if not total_books %}
      <p class="mylead text-center">
        {{ _('There are not books') }}.
      </p>
      {% else %}

      <!-- Pagination at the top of the page -->
      {% if number_of_pages > 1 %}
      <div class="pagination pagination-centered">
        <ul>
          {% if page == 0 %}
          <li class="disabled"><a href="#">Prev</a></li>
          {% else %}
          <li>
            <a href="#" class="prevnext" data-href={{ url_for(where, page=page-1) }}>
              Prev
            </a>
          </li>
          {% endif %}
          {% for i in range(number_of_pages) %}
          {% if i == page %}
          <li class="active"><a href="#">{{ i + 1 }}</a></li>
          {% else %}
          <li><a href="{{ url_for(where, page=i) }}">{{ i + 1 }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page == number_of_pages - 1 %}
          <li class="disabled"><a href="#">Next</a></li>
          {% else %}
          <li>
            <a href="#" class="prevnext" data-href={{ url_for(where, page=page+1) }}>
              Next
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}

      <!-- List of books of this page -->
     {% set count = 0 %}
     {% for book in books %}
     {% if not count %}
      <ul class="thumbnails">
     {% endif %}
        <li class="span2">
          <a href="{{ url_for('book', where=where, book_id=book.id) }}">
            <div class="my_image">
              <img src="{{ config['PREFIX'] + book.cover if book.cover else 'static/img/no_image_165x250.png' }}"
                   class="img-polaroid" 
                   data-title="{{ book.title }}"
                   style="height: 250px">
              <p><span>{{ book.title }}</span></p>
            </div>
            
          </a>
        </li>
      {% if count == 10 %}
      </ul>
      {% set count = 0 %}
      {% else %}
      {% set count = count + 2 %}
      {% endif %}
      {% endfor %}
      </ul>

      <!-- Pagination at the bottom of the page -->
      {% if number_of_pages > 1 %}
      <div class="pagination pagination-centered">
        <ul>
          {% if page == 0 %}
          <li class="disabled"><a href="#">Prev</a></li>
          {% else %}
          <li>
            <a href="#" class="prevnext" data-href={{ url_for(where, page=page-1) }}>
              Prev
            </a>
          {% endif %}
          {% for i in range(number_of_pages) %}
          {% if i == page %}
          <li class="active"><a href="#">{{ i + 1 }}</a></li>
          {% else %}
          <li><a href="{{ url_for(where, page=i) }}">{{ i + 1 }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page == number_of_pages - 1 %}
          <li class="disabled"><a href="#">Next</a></li>
          {% else %}
          <li>
            <a href="#" class="prevnext" data-href={{ url_for(where, page=page+1) }}>
              Next
            </a>
          {% endif %}
        </ul>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>

<script>
$(document).ready(function(){
  $('img').on('mouseenter', function(){
    var title = $(this).data('title');

    $(this).tooltip({title:title});
  });

  $('.prevnext').on('click', function(){
    document.location.href = $(this).data('href');
  });
});
</script>
{% endblock %}
