{% extends "book_layout.html" %}

{% block book %}
<h2>{{ book.title }}</h2>

<div class="row-fluid">
  <!-- First Column -->
  <div class="span2">
    <div class="thumbnail" 
         style="max-width: 200px; max-height: 150px; line-height: 20px;">
      <img style="max-height: 150px" src="{{ config['PREFIX'] + book.cover if book.cover else url_for('static', filename='img/no_image_200x150.png') }}" />
    </div>
  </div>

  <!-- Second Column -->
  <div class="span5">
    {% if session['user_id'] %}
    <ul class="nav nav-pills">
      <li>
        <a href="{{ url_for('changebook', book_id=book.id) }}">
            {{ _('Change') }}
        </a>
      </li>
    </ul>
    {% endif %}

    <div class="item">
      <p class="mylead">
        <strong>ISBN:</strong> {{ book.isbn }}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Format') }}:</strong> {{ book.br_format.name if book.br_format.name }}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Subject') }}:</strong>
        {% for subject in book.subjects %} 
          <span class="badge">{{ subject.name }}</span>
        {% endfor %}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Pages') }}:</strong> {{ book.pages if book.pages }}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Author') }}:</strong>
        {% for author in book.authors %}
          <span class="badge badge-inverse">{{ author.name }} {{ author.surname }}</span>
        {% endfor %}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Publisher') }}:</strong> {{ book.br_publisher.name }}
      </p>
    </div>

    <div class="item">
      <p class="mylead">
        <strong>{{ _('Description') }}:</strong> {{ book.description if book.description }}
      </p>
    </div>
  </div>

  <!-- Third Column -->
  <div class="span5">
      {% if bookreaded %}
        <ul class="nav nav-pills">
          <li>
            <a href="{{ url_for('changebookreaded', book_id=book.id) }}">
            {{ _('Change') }}
            </a>
          </li>
        </ul>

        {% for purchased in bookreaded.purchased %}
          <div class="item">
            <p class="mylead">
              <strong>{{ _('Purchased date') }}:</strong> {{ purchased.purchased if purchased.purchased }}
            </p>
          </div>

          <div class="item">
            <p class="mylead">
              <strong>{{ _('Purchased bookshop') }}:</strong>
              {{ purchased.br_purchasedbookshop.name if purchased.br_purchasedbookshop.name }}
            </p>
          </div>
          
          <div class="item">
            <p class="mylead">
              <strong>{{ _('Price') }}:</strong> {{ purchased.price if purchased.price }}
            </p>
          </div>
        {% endfor %}
        <div class="item">
          <p class="mylead">
            <strong>{{ _('Read start') }}:</strong> {{ bookreaded.start if bookreaded.start }}
          </p>
        </div>

        <div class="item">
          <p class="mylead">
            <strong>{{ _('Read finish') }}:</strong> {{ bookreaded.finish if bookreaded.finish }}
          </p>
        </div>

        <div class="item">
          <p class="mylead">
            <strong>{{ _('Opinion') }}:</strong> {{ bookreaded.opinion if bookreaded.opinion }}
          </p>
        </div>

        <div class="item">
          <p class="mylead">
            <strong>{{ _('Valoration') }}:</strong> {{ bookreaded.valoration if bookreaded.valoration }}
          </p>
        </div>
      {% elif session['user_id'] %}
        <p class="mylead text-center">
          {{ _('You have not information for this book altough is in your books catalog') }}
        </p>
        <p class="text-center">
          <button id="btninfo" class="btn btn-large" type="button"
                  data-href="{{ url_for('newbookreaded', book_id=book.id) }}">
            {{ _('Add book information') }}
          </button>
        </p>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block bookscript %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script>
$(document).ready(function(){
  $('#btninfo').on('click', function(){
    document.location.href = $(this).data('href');
  });
});
</script>
{% endblock %}
