{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% from "forms/macros.html" import modal %}

{% block breadcrumbs %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
        {% if where == 'userbooks' %}
        <li><a href="{{ url_for('userbooks') }}">{{ _('My books') }}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ _('Book Information') }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {% if session['user_id'] %}
      <ul class="nav nav-pills">
        <li>
          <a href="#" class="delete">
            {{ _('Delete') }}
          </a>
        </li>
      </ul>
      <!-- The modal to show the message when a user click on delete button -->
      {{ modal('modal',  _('Book'), _('Do you like to delete the book?'),
               _('The book will be delete, are you sure?'),
               [{'href':'#',
                 'class':'btn btn-close', 'data-dismiss':'modal', 'label': _('Cancel')},
                {'href':url_for('delbook', book_id=book.id),
                 'class':'btn', 'label':_('Yes, delete it')}]) }}
      {% endif %}
      {% block book %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script>
$(document).ready(function(){
  $('a.delete').on('click', function(){
    $("#modal").modal();
  });
});
</script>

{% block bookscript %}{% endblock %}
{% endblock %}