{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% from "forms/macros.html" import flash_messages %}

{% block head %}
<title>{{app_name}}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {{ flash_messages(get_flashed_messages(with_categories=True)) }}

      <ul class="thumbnails">
        {% for book in last_books %}
        <li class="span3">
          <a href="{{ url_for('book', where='index', book_id=book.id) }}" 
             class="thumbnail well">
            <img src="{{ config['PREFIX'] + book.cover if book.cover else url_for('static') + '/img/no_image_400x300_t.png' }}" alt="{{ book.title }}" style="max-height: 250px">
            <h3>{{ book.title }}</h3>
            <p>{{ book.description if book.description else _('There is not description for this book') }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>

<script>
/* With this hack we can render all boxes with images and so on with the same
height. */
boxes = $('.well');

maxHeight = Math.max.apply(Math, boxes.map(function(){
  return $(this).height();
}).get());

boxes.height(maxHeight);
</script>
{% endblock %}
