{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ 
          url_for('static', filename='bootstrap/css/bootstrap.min.css') 
          }}">
    <link rel="stylesheet" 
          href="{{ 
          url_for('static',
          filename='bootstrap/css/bootstrap-responsive.min.css') 
          }}">
    <link rel="stylesheet"
          href="{{ 
          url_for('static', filename='js/ui/themes/base/jquery.ui.all.css') 
          }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- You can put things into head -->
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
    <!--------------------------- The navigation bar -------------------------->
    <!-- We can choose between navbar-fixed-top or navbar-static-top. If we use
         the second option then we need this CSS code: 
         body { padding-top: 70px; } -->
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" 
             data-target=".nav-collapse">
            <span class="icon-th-list"></span>
          </a>
          <a href="{{ config['PREFIX'] }}/" class="brand">Bibliotekon</a>
          <div class="nav-collapse collapse">
            <!-- You can change the items menu and organize these you like -->
            {% block nav %}
            <ul class="nav pull-left">
              <li><a href="{{ config['PREFIX'] }}/">Home</a></li>
              {% if session['user_id'] %}
              <li><a href="{{ url_for('newbook') }}">{{ _('New book') }}</a></li>
              <li><a href="{{ url_for('userbooks') }}">{{ _('My books') }}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ _('Wishlist') }}
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('wishlist') }}">{{ _('View') }}</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('newbook', wishlist='wishlist') }}">{{ _('New') }}</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if session['user_id'] %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ session['username'] }}
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('user.home') }}">{{ _('My profile') }}</a></li>
                  <!--
                  <li class="divider"></li>
                  <li>Dos</li>
                  -->
                </ul>
              </li>
              
              <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
              {% else %}
              <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
              <li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a></li>
              {% endif %}
            </ul>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!------------------------------ The Breadcrumbs -------------------------->
    {% block breadcrumbs %}{% endblock %}
    
    <!-------------------------------- The content ---------------------------->
    {% block content %}{% endblock %}

    <!--------------------------------- The footer ---------------------------->
    <div id="push"></div>
    </div><!-- div id wrap close -->
    {% block footer %}
    <div id="footer">
      <div class="container">
         <p class="muted credit text-center">
      Copyright &copy; Román Ginés Martínez Ferrández - All code is GPLv3 and it uses jQuery and Bootstrap
         </p>
      </div>
    </div>
    {% endblock %}

    <!-- JavaScript -->
    <script>
    /*
    @licstart  The following is the entire license notice for the 
    JavaScript code in this page that is not jQuery and Bootstrap.
    
    Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
    
    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.
    
    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
    
    @licend  The above is the entire license notice
    for the JavaScript code in this page.
    */
    </script>
    <script src="{{ url_for('static', filename='js/jquery-min.js') }}" >
    </script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}">
    </script>
    <script>
    $(document).ready(function(){
      $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
