{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% from "forms/macros.html" import with_errors %}
{% from "forms/macros.html" import flash_messages %}
{% from "forms/macros.html" import modal %}

{% block breadcrumbs %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
        {% if 'change' in info %}
        <li><a href="{{ url_for('book', book_id=g.idbook) }}">{{ _('Book') }}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ _('New Book') }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- The modal to show the message when the book is saved correctly. -->
{% if not readed %}
{{ modal('modal', _('Book'), _('The book have been inserted/changed'),
         _('You can choose between the next options.'),
         [{'href':config["PREFIX"]+'/', 'class':'btn', 'label':_('Got to home')},
          {'href':config["PREFIX"]+'/newbook', 'class':'btn', 'label':_('Create a new book')},
          {'href':config["PREFIX"]+'/newbookreaded/'~g.idbook, 'class':'btn', 'label':_('Add a new readed book')},
          {'href':config["PREFIX"]+'/book/home/'~g.idbook, 'class':'btn', 'label':_('View this book')}]) }}
{% else %}
{{ modal('modal', _('Book'), _('The book have been changed/inserted and it is into your readed books'),
         _('You can choose between the next options.'),
         [{'href':config["PREFIX"]+'/', 'class':'btn', 'label':_('Got to home')},
          {'href':config["PREFIX"]+'/newbook', 'class':'btn', 'label':_('Create a new book')},
          {'href':config["PREFIX"]+'/book/home/'~g.idbook, 'class':'btn', 'label':_('View this book')}]) }}
{% endif %}

<!-- The contents of the page. -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>{{ _('Book Management') }}</h2>

      {{ with_errors(form.isbn) }}
      {{ with_errors(form.title) }}
      {{ with_errors(form.format) }}
      {{ with_errors(form.subject) }}
      {{ with_errors(form.pages) }}
      {{ with_errors(form.author) }}
      {{ with_errors(form.publisher) }}
      {{ with_errors(form.description) }}
      {{ flash_messages(get_flashed_messages(with_categories=True)) }}

      <form method="POST" action="" enctype="multipart/form-data"
            class="form-horizontal form">
        <div class="row-fluid">
          <div class="span2">
            {{ form.csrf_token }}

            {% if img %}
            <div class="fileupload fileupload-exists" data-provides="fileupload">
              <div class="fileupload-new thumbnail">
                <img src="{{ url_for('static', filename='img/no_image_200x150.png') }}" />
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                <img style="max-height: 150px" src="{{ config["PREFIX"] }}{{ img }}" />
              </div>
              <div>
                <span class="btn btn-file">
                  <span class="fileupload-new">{{ _('Select image') }}</span>
                  <span class="fileupload-exists">{{ _('Change') }}</span>
                  {{ form.cover(class="input-block-level") }}
                  {{ form.hidden_cover(value=img, id='hidden_cover') }}
                </span>
                <a href="#" id="remove-btn" class="btn fileupload-exists" data-dismiss="fileupload">{{ _('Remove') }}</a>
              </div>
            </div>

            {% else %}
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail">
                <img src="{{ url_for('static', filename='img/no_image_200x150.png') }}" />
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
              <div>
                <span class="btn btn-file">
                  <span class="fileupload-new">{{ _('Select image') }}</span>
                  <span class="fileupload-exists">{{ _('Change') }}</span>
                  {{ form.cover(class="input-block-level") }}
                  {{ form.hidden_cover(value='', id='hidden_cover') }}
                </span>
                <a href="#" id="remove-btn" class="btn fileupload-exists" data-dismiss="fileupload">{{ _('Remove') }}</a>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="span5">
            {% if update %}
              {% set readonly = 'readonly' %}
            {% else %}
              {% set readonly = '' %}
            {% endif %}
            {{ form.isbn(id="book_isbn", class="input-block-level book_ popover-info " ~ readonly,
                         placeholder=_("ISBN"), 
                         **{"data-info":_("Enter the ISBN")}) }}
            {{ form.title(id="book_title", class="input-block-level book_ popover-info " ~ readonly, 
                          placeholder=_("Title"),
                          **{"data-info":_("Enter the title")}) }}
            {{ form.format(id="book_format", class="input-block-level book_ popover-info " ~ readonly,
                           placeholder=_("Format"),
                           **{"data-info":_("Enter the format")}) }}
            {{ form.subject(id="book_subject", class="input-block-level book_ popover-info " ~ readonly, 
                            placeholder=_("Subject"),
                            **{"data-info":_("You can enter multiple comma separated subjects")}) }}
            {{ form.pages(id="book_pages", class="input-block-level book_ popover-info " ~ readonly,
                          placeholder=_("Pages"),
                          **{"data-info":_("Enter the pages")}) }}
            {{ form.author(id="book_author", class="input-block-level book_ popover-info " ~ readonly,
                           placeholder=_("Author"),
                           **{"data-info":_("You can write several authors separated by semicolons. Moreover, you have to write surname and name separated by comma")}) }}
            {{ form.publisher(id="book_publisher", class="input-block-level book_ popover-info " ~ readonly,
                              placeholder=_("Publisher"),
                              **{"data-info":_("Enter the publisher")}) }}
            {{ form.description(id="book_description", class="input-block-level book_ popover-info " ~ readonly,
                                placeholder=_("Description"),
                                **{"data-info":_("Enter the descripcion")}) }}
          </div>
        </div>
        <button type="submit" value="Login" class="btn btn-medium">
          {{ _('Ok') }}
        </button>
      </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}">
</script>
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script>
{% if ok:  %}
$(function(){
  $("#modal").modal();
});
{% endif %}

$(document).ready(function(){
  $('#book_isbn').focus();

  /*
   * If we are updating the book and the book have a cover then we hide the
   * buttons so the user cannot change the image of the cover.
   */
{% if update %}
  if ($('.fileupload-preview').find('img').length) {
    $('.btn').filter('.btn-file').parent().hide();
  }
{% endif %}

  /*
   * For each field with readonly class it sets the readonly attribute so the
   * user could not modified these book attributes.
   */
  $.each($('.readonly'), function(index, value){
    if ($(this).val().length > 0) {
      $(this).attr('readonly', 'readonly');
    }
  });

  /*
   * This functions shows and hides the popover with help over the field when
   * the user is.
   */
  var getPlacement = function($el) {
    var offset = $el.offset(),
        top = offset.top,
        left = offset.left,
        height = $(document).outerHeight(),
              width = $(document).outerWidth(),
              vert = 0.5 * height - top,
              vertPlacement = vert > 0 ? 'bottom' : 'top',
              horiz = 0.5 * width - left,
              horizPlacement = horiz > 0 ? 'right' : 'left',
              placement = Math.abs(horiz) > Math.abs(vert) ? horizPlacement : vertPlacement;
    return placement
  };

  $('.popover-info').on('focus', function(){
    var title = $(this).attr('placeholder');
    var info = $(this).data('info');

    $(this).popover({ title: title, content: info,
                     html: true, placement: getPlacement($(this)) });
    $(this).popover('show');
  });

  $('.popover-info').on('blur', function(){
    $(this).popover('hide');
  });

  /*
   * This function empty the value attribute of the hidden input that contains
   * the image path of the cover when user click on remove button.
   */
  $('#remove-btn').on('click', function(){
    $('#hidden_cover').val('')
  });

{% if not update %}
  $(document).on('ajaxStart', function(){
    //$.blockUI({ message: "{{ _('Searching books with indicated ISBN...') }}" }); 
    $.blockUI({ 
      message: "{{ _('Searching books with indicated ISBN...') }}",
      css: { 
        border: 'none', 
        padding: '15px', 
        backgroundColor: '#000', 
        '-webkit-border-radius': '10px', 
        '-moz-border-radius': '10px', 
        opacity: .5, 
        color: '#fff' 
      } }); 
  });
  $(document).on('ajaxStop', function(){
    setTimeout($.unblockUI, 1000); 
  });

  /*
   * This function loads book information when user type the ISBN and exit from
   * isbn input field.
   */
  $('#book_isbn').on('blur', function(){
    var isbn = $('#book_isbn').val();
    var jsonUrl = "{{ config['PREFIX'] }}" + "/bookbyisbn/" + isbn;
    if (isbn.length > 0) {
      $.getJSON(
      jsonUrl,
      function(json) {
        $('.book_').prop('readonly', false);
        if (!$.isEmptyObject(json)) {
          // If the book exists, then we will change this book.
          if (json['id'])
            $('form').attr('action', '/changebook/' + json['id']);

          // If this book is from this user then we show the modal.
          if (json['core_user']) {
            btn = $('#modal-exists').find('.btn').filter('.btn-view-this-book');
            btn.attr('href', '/book/' + json['id']);
            $('#modal-exists').modal();
          }

          // Set the fields.
          if (json['title']) {
            $('#book_title').val(json['title']);
            $('#book_title').prop('readonly', true);
            $('#book_title').data('autoload', json['title']);
          }
          if (json['description']) {
            $('#book_description').val(json['description']);
            $('#book_description').prop('readonly', true);
            $('#book_description').data('autoload', json['description']);
          }
          if (json['pages']) {
            $('#book_pages').val(json['pages']);
            $('#book_pages').prop('readonly', true);
            $('#book_pages').data('autoload', json['pages']);
          }
          if (json['format']) {
            $('#book_format').val(json['format']);
            $('#book_format').prop('readonly', true);
            $('#book_format').data('autoload', json['format']);
          }
          if (json['subject']) {
            $('#book_subject').val(json['subject']);
            $('#book_subject').prop('readonly', true);
            $('#book_subject').data('autoload', json['subject']);
          }
          if (json['author']) {
            $('#book_author').val(json['author']);
            $('#book_author').prop('readonly', true);
            $('#book_author').data('autoload', json['author']);
          }
          if (json['publisher']) {
            $('#book_publisher').val(json['publisher']);
            $('#book_publisher').prop('readonly', true);
            $('#book_publisher').data('autoload', json['publisher']);
          }
          if (json['cover']) {
            show_image(json['cover']);
          }
          else {
            show_no_image();
          }
          //setTimeout(function() { $("#book_title").focus(); }, 50);
        }
        else {
          // The book does not exist so the action is to create the book.
          $('form').attr('action', '');

          // If there were autoloaded datas then we delete them.
          if ($('#book_title').data('autoload')) {
            $('.book_').val('');
            $('.book_').data('autoload', '');
          }
          show_no_image();
        }
      });
    }
  });
{% endif %}
});


/*
 * This function show the image including by argument.
 *
 * It hides the upload image container and creates a image into its ancestor.
 */
function show_image(cover) {
  if (!document.getElementById('show_image')) {
    urlRegex = /(https?:\/\/)+([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w\.-=?]*)*\/?/
    if (!urlRegex.test(cover)) {
      cover = "{{ config['PREFIX'] }}" + cover;
    }
    image = $('<img id="show_image" style="max-height: 150px" src="' + cover + '" />');
    fileupload_container = $('div').find('.fileupload');
    
    $('#hidden_cover').val(cover);

    fileupload_container.parent().append(image);
    fileupload_container.hide(); 
    
    /* If exists and image uploaded it deltes it */
    fileupload = $('div').find('.fileupload').filter('.fileupload-exists');
    if (fileupload) {
      fileupload.removeClass('fileupload-exists').addClass('fileupload-new');
    }

    fileuploadpreview = $('div').find('.fileupload-preview').filter('.fileupload.exists').
                                                                  filter('.thumbnail');
    if (fileuploadpreview) {
      fileuploadpreview.find('img').remove();
      fileuploadpreview.hide();    
    }
  }
}

/*
 * This function removes the cover if exists and then show the upload container.
 */
function show_no_image() {
  fileupload_container = $('div').find('.fileupload');
  cover = $('#show_image');

  if (cover) {
    cover.remove();
  }
  fileupload_container.show();

  $('#hidden_cover').val('');
}
</script>
{% endblock %}
