{#
# This file is part of Bibliotekon.
#
# Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
#
# Bibliotekon is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# Bibliotekon is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Foobar. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}

{% from "forms/macros.html" import with_errors %}
{% from "forms/macros.html" import flash_messages %}
{% from "forms/macros.html" import modal %}
{% block breadcrumbs %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
        {% if 'change' in info %}
        <li><a href="{{ url_for('book', book_id=g.idbook) }}">{{ _('Book') }}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ _('New Book') }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- The modal to show the message when the book is saved correctly. -->
{{ modal('modal', _('Book'), _('Your book information have been changed/inserted'),
         _('You can choose between the next options.'),
         [{'href':'/', 'class':'btn', 'label':_('Got to home')},
          {'href':'/newbook', 'class':'btn', 'label':_('Create a new book')},
          {'href':'/book/home/'~g.idbook, 'class':'btn', 'label':_('View this book')}]) }}

<!-- The contents of the page. -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>{{ _('Book Management') }}</h2>

      {{ with_errors(form.bookshop) }}
      {{ with_errors(form.purchased) }}
      {{ with_errors(form.price) }}
      {{ with_errors(form.start) }}
      {{ with_errors(form.finish) }}
      {{ with_errors(form.opinion) }}
      {{ with_errors(form.valoration) }}
      {{ flash_messages(get_flashed_messages(with_categories=True)) }}

      <form method="POST" action="" enctype="multipart/form-data"
            class="form-horizontal form">
        <div class="row-fluid">
          <div class="span2">
            {{ form.csrf_token }}

            {% if img %}
            <div class="fileupload fileupload-exists" data-provides="fileupload">
              <div class="fileupload-new thumbnail">
                <img src="{{ url_for('static', filename='img/no_image_200x150.png') }}" />
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                <img style="max-height: 150px" src="{{ config['PREFIX'] + img }}" />
              </div>
            </div>

            {% else %}
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail">
                <img src="{{ url_for('static', filename='img/no_image_200x150.png') }}" />
              </div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
            </div>
            {% endif %}
        </div>

        <div class="span5">
          <div class="well">
            <p class="muted">If you have purchased this book complete this information:</p>
            {{ form.bookshop(id="bookshop", class="input-block-level popover-info",
                             placeholder=_("Purchased bookshop"),
                             **{"data-info":_("Enter the bookshop where you purchased the book")}) }}
            {{ form.purchased(class="input-block-level datepicker",
                              placeholder=_("Purchased date")) }}
            {{ form.price(class="input-block-level popover-info",
                          placeholder=_("Price"),
                          **{"data-info":_("Enter the price")}) }}
          </div>
        </div>
        
        <div class="span5">
          <div class="well">
            <p class="muted">If you have read this book complete this information:</p>
            {{ form.start(class="input-block-level datepicker",
                          placeholder=_("Read start")) }}
            {{ form.finish(class="input-block-level datepicker",
                           placeholder=_("Read finish")) }}
            {{ form.opinion(class="input-block-level popover-info", 
                            placeholder=_("Opinion"),
                            **{"data-info":_("Enter your opinion")}) }}
            {{ form.valoration(class="input-block-level popover-info",
                               placeholder=_("Valoration"),
                               **{"data-info":_("Enter the valoration (a number from 1 to 10)")}) }}
          </div>
        </div>
        <button type="submit" value="Login" class="btn btn-medium">
          {{ _('Ok') }}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
/*
@licstart  The following is the entire license notice for the 
JavaScript code in this page.

Copyright (C) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>

The JavaScript code in this page is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.

@licend  The above is the entire license notice
for the JavaScript code in this page.
*/
</script>
<script src="{{ url_for('static', filename='js/ui/jquery.ui.core.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui/jquery.ui.datepicker.js') }}"></script>
<script>
{% if ok:  %}
$(function(){
  $("#modal").modal();
});
{% endif %}

$(document).ready(function(){
  $('#bookshop').focus();
});

/*
 * Configure the datapicker widget from jQuery UI.
 */
$(function() {
  $(".datepicker").datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd'
  });
});
</script>
{% endblock %}
