/*
 * This file is part of Bibliotekon.
 *       
 * Copyright (c) 2013 Román Ginés Martínez Ferrández <rgmf@riseup.net>
 *
 * Bibliotekon is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Bibliotekon is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * To solve the problem with the padding and the barnav.
 */
body {
    padding-top: 0px;
    background-color: white;
}

.navbar-static-top {
    margin-bottom: 20px;
}

@media (max-width: 980px) {
    body {
        padding-top: 0px;
    }
    .navbar-fixed-top {
        margin-bottom: 10px;
    }
    .navbar-static-top {
        margin-bottom: 10px;
    }
}

/*
 * Styles to forms.
 */
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px 12px;
}

.form input[type="text"],
.form input[type="file"],
.form textarea {
    height: auto;
    margin-bottom: 10px;
    padding: 7px 9px;
}

/*
 * Styles to thumbnail.
 */
a.thumbnail:hover {
    text-decoration: none;
}

a.thumbnail > h3, p {
    color: #333333;
}

/*
 * Typographic styles.
 */
.mylead {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
}

/*
 * Footer styles.
 */
html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
#footer > .container {
    padding-top: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* With these styles we can write on the images */
.my_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

div.my_image p { 
   position: absolute; 
   top: 180px; 
   left: 0; 
   width: 100%; 
}

p span { 
   color: white; 
   font: bold 14px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px; 
}